.container {
	max-width: 67%;
	width: 67%;
	margin: 0 auto;
	text-align: center;
}

.title {
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.subtitle {
	font-size: 1.25rem;
	margin-bottom: 1.5rem;
}

.statsGrid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1rem;
	width: 100%;
}

.statItem {
	background-color: var(--ifm-background-surface-color);
	border-radius: 0.5rem;
	border: 1px solid #000000;
	padding: 0.3rem;
	box-shadow:
		0 1px 3px rgba(0, 0, 0, 0.12),
		0 1px 2px rgba(0, 0, 0, 0.24);
	line-height: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
