.myrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.partialrow {
  display: flex;
  flex-direction: row;
}

.codeblock {
  background-color: #333;
  padding: 12px 16px;
  border-radius: 8px;
  color: white;
  font: var(--ifm-code-font-size) / var(--ifm-pre-line-height)
    var(--ifm-font-family-monospace);
  cursor: pointer;
}

.codeblock:hover {
  background-color: #444;
}

@keyframes click {
  0% {
    transform: translateY(-18px);
    opacity: 0;
  }

  30% {
    opacity: 0.7;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    transform: translateY(-23px);
    opacity: 0;
  }
}

.a:hover {
  text-decoration: none;
}

.copied {
  position: absolute;
  animation: click 0.7s linear;
  z-index: 0;
  animation-fill-mode: forwards;
  top: 0;
  font: var(--ifm-code-font-size) / var(--ifm-pre-line-height)
    var(--ifm-font-family-monospace);
  font-size: 13px;
  width: 100%;
  text-align: center;
}
