.container {
  display: flex;
  font-weight: bold;
}

.stars {
  font-size: 0.75em;
  display: inline-block;
  margin-left: 8px;
  line-height: 1;
  align-self: center;
  margin-top: 3px;
}

@media screen and (max-width: 900px) {
  .githubicon {
    display: none;
  }
  .stars {
    display: none;
  }
}
