.container {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.stars {
  font-size: 0.75em;
  display: inline-block;
  background: var(--hover-color);
  margin-left: 8px;
  line-height: 1;
  border-radius: 5px;
  padding: 7px;
}

@media screen and (max-width: 900px) {
  .githubicon {
    display: none;
  }
  .stars {
    display: none;
  }
}
