.ifyouknowrow {
  display: flex;
  flex-direction: row;
  text-align: right;
  justify-content: flex-end;
  align-items: center;
}

.ifyouknowtitle {
  font-size: 2.5em;
  font-weight: 700;
  font-family: --apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.1;
  text-align: right;
}

.rea {
color: var(--ifm-color-primary)
}

.aknow {
  text-decoration: none !important;
  display: inline-block;
}

@media screen and (max-width: 900px) {
  .ifyouknowrow {
    flex-direction: column-reverse;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .ifyouknowtitle {
    text-align: left;
  }
  .aknow {
    margin-bottom: 80px;
  }
}
