.panel {
	background-color: var(--ifm-background-color);
	padding: 20px 26px;
	border-radius: 15px;
	flex: 1;
	border: 5px solid var(--text-color);
	min-height: 250px;
	display: flex;
	flex-direction: column;
}

.tablenewsletter {
	font-size: 1.4em;
	font-weight: 700;
	font-family: 'GTPlanar';
}

.newslettergrow {
	flex-direction: column;
	align-items: center;
}
.portion {
	width: 100%;
}
