.pricingtitle {
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.1;
}

.mp4 {
  color: var(--ifm-color-primary);
}

.pricingcontainer {
  text-align: center;
}

.pricingrow {
  display: flex;
  flex-direction: row;
}

.panel {
  background-color: var(--ifm-background-color);
  box-shadow: var(--box-shadow);
  padding: 10px;
  border-radius: 15px;
  flex: 1;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  min-height: 550px;
  display: flex;
  flex-direction: column;
}
.panel ul {
  text-align: left;
  list-style-type: none;
  padding-left: 0;
}
.panel li {
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  color: var(--text-color);
  font-size: 0.95em;
}

.perperiod {
  font-weight: 500;
  margin-top: -7px;
  font-size: 0.9em;
}

.tableprice {
  font-size: 60px;
  font-weight: 700;
  margin-top: -5px;
}

.freeprice {
  color:  #4290f5;

}

.gradientprice {
  color: #79367a
}

.orangeprice {
 color: #fd764a;
}

.portion {
  flex: 1;
}

.targettitle {
  border-bottom: 1px solid var(--text-color);
  font-weight: 600;
  margin-bottom: 20px;
}

.bulletcontainer {
  margin-right: 8px;
  display: inline-flex;
  justify-content: center;
  margin-top: 5px;
}

.pricinga {
  color: inherit;
}

.pricinga:hover {
  text-decoration: none;
}

.doublepanel {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.doublepanelsingle {
  flex: 1;
  min-height: 400px;
}

.plus {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  margin-top: 50px;
}

.minimum {
  margin-top: -30px;
  color: var(--light-text-color);
  margin-bottom: 20px;
  font-size: 15px;
}


.plus svg {
  height: 20px;
}


@media screen and (max-width: 900px) {
  .pricingcontainer {
    text-align: left;
  }
  .pricingrow {
    flex-direction: column;
    align-items: center;
  }
  .portion {
    max-width: 500px;
    width: 100%;
  }
  .doublepanel {
    flex-direction: column;
  }
  .plus {
    margin-left: 200px;
    margin-top: -30px;
    margin-bottom: 30px;
  }
}

