.writeincss {
  flex-direction: row;
  display: flex;
}

.writeincsstitle {
  font-size: 5em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  line-height: 1;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    to right,
    var(--text-color),
    var(--light-text-color)
  );
  -webkit-background-clip: text;
  max-width: 500px;
}

.writeright {
  flex: 1;
}

@media screen and (max-width: 900px) {
  .writeincss {
    flex-direction: column;
  }
  .writeincsstitle {
    font-size: 3.5em;
  }
  .writeright {
    margin-top: 30px;
  }
}
