node_modules
dist
tsconfig.tsbuildinfo
.DS_Store
coverage
/.idea/
*/**/.env
.cache
packages/example/out
.env
.pnpm-debug.log
.vscode/taskmarks.json
.turbo
.vercel
packages/compositor/target
packages/cloudrun/remotion-lambda-gcp.code-workspace
.terraform*
packages/example/sa-key.json
packages/example/public/pts-framermp4withoutfileextension.mp4
packages/it-tests/packages/example/out/element-2.png
packages/cloudrun/src/gcpInstaller/terraform*
packages/cloudrun/src/gcpInstaller/*.tfplan
packages/lambda-python/*/__pycache__
packages/lambda-python/remotion-env-lint
packages/lambda-python/build
packages/lambda-python/remotion-env
packages/lambda-python/remotion_lambda.egg-info
packages/cloudrun/container/cloudbuild.json
packages/example/public/offthreadvideoregression
.git

packages/example/build
packages/example-without-zod/build
packages/docs/out
packages/cloudrun/container/ensure-browser.mjs
