node_modules
dist
tsconfig.tsbuildinfo
.DS_Store
coverage
/.idea/
*/**/.env
.cache
packages/example/out
.env
.pnpm-debug.log
.vscode/taskmarks.json
.turbo
.vercel
packages/renderer/target
packages/example/sa-key.json
packages/example/public/pts-framermp4withoutfileextension.mp4
packages/it-tests/packages/example/out/element-2.png
