# Defaults, without eslint
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*@prettier/plugin-*
public-hoist-pattern[]=*prettier-plugin-*
# Is a devDependency of `three` and a dependency of docs. Need to hoist
public-hoist-pattern[]=@react-three/fiber
