# By adding 1 dependency, we remove the defaults
# The default is: ['*types*', '*eslint*', '@prettier/plugin-*', '*prettier-plugin-*']
# Is a devDependency of `three` and a dependency of docs. Need to hoist
public-hoist-pattern[]=@react-three/fiber
auto-install-peers=true
strict-peer-dependencies=false
publish-branch=main
update-notifier=false
