@font-face {
	font-family: 'GTPlanar';
	src: url('../../static/img/gt-planar-bold.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-feature-settings: 'ss03' on;
}

:root {
	--background: white;
}
