.title {
  font-size: 2.5em;
  font-weight: 700;
  font-family: --apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.1;
}

.keyword {
  background: linear-gradient(to right, rgb(66, 144, 245), rgb(66, 233, 245));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.container {
  margin-top: 80px;
  margin-bottom: 80px;
}

.row {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: center;
}

@media (max-width: 1000px) {
  .row {
    flex-direction: column;
  }
}
