.title {
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.1;
}

.keyword {
color: var(--ifm-color-primary)
}

.container {
  margin-top: 80px;
  margin-bottom: 80px;
}

.row {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: center;
}

.half {
  flex: 1;
}

@media (max-width: 1000px) {
  .row {
    width: 100%;
    flex-direction: column;
  }
  .half {
    width: 100%;
  }
}
