.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 3.5em;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    to right,
    var(--text-color),
    var(--light-text-color)
  );
  -webkit-background-clip: text;
  max-width: 600px;
}
@media screen and (max-width: 1000px) {
  .title {
    font-size: 2em;
  }
}

.p {
  text-align: center;
  max-width: 500px;
}

.a:hover {
  text-decoration: none;
}
