/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

* {
	font-feature-settings:
		'kern' 1,
		'ss02' 1;
	font-kerning: normal;
	-webkit-font-smoothing: antialiased; /* Chrome, Safari */
	-moz-osx-font-smoothing: grayscale; /* Firefox */
}

html {
	scroll-padding-top: 80px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: -0.025em;
	word-spacing: -0.025em;
	font-family: 'GTPlanar';
	font-feature-settings: 'ss03' on;
}

@font-face {
	font-family: 'GTPlanar';
	src: url('/img/gt-planar-regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'GTPlanar';
	src: url('/img/gt-planar-medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'GTPlanar';
	src: url('/img/gt-planar-bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'GTPlanar';
	src: url('/img/gt-planar-black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}

[class*='col'][class*='lastUpdated'] {
	display: none;
}

:root {
	--ifm-color-primary: #0b84f3;
	--ifm-color-primary-dark: #0a77db;
	--ifm-color-primary-darker: #0970cf;
	--ifm-color-primary-darkest: #085caa;
	--ifm-color-primary-light: #2290f5;
	--ifm-color-primary-lighter: #2f96f6;
	--ifm-color-primary-lightest: #53a9f7;
	--ifm-code-font-size: 100%;
	--ifm-font-family-base: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
		Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica,
		Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	--ifm-font-size-base: 16px;
}

[data-theme='light'] {
	--background: #fff;
	--footer-background: #fcfcfc;
	--footer-border: #eaeaea;
	--text-color: #000;
	--blue-button-color: #084696;
	--blue-underlay: var(--ifm-color-primary);
	--plain-button: #fff;
	--blue-underlay-hover: #d5e5fd;
	--light-text-color: #777;
	--subtitle: #666;
	--clear-hover: rgba(0, 0, 0, 0.04);
	--border-color: rgb(234, 234, 234);
	--box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	--ifm-out-of-focus: #eaeaea;
	--box-stroke: #000;
}
[data-theme='dark'] {
	--background: #18191a;
	--footer-background: #1f1f1f;
	--footer-border: #2f2f2f;
	--text-color: #fff;
	--plain-button: var(--blue-underlay);
	--blue-underlay: #424243;
	--blue-underlay-hover: #5b5c5e;
	--clear-hover: rgba(255, 255, 255, 0.06);
	--blue-button-color: white;
	--light-text-color: #aaa;
	--subtitle: #8d8d8d;
	--border-color: rgb(42, 42, 42);
	--box-shadow: 0 1px 8px rgba(255, 255, 255, 0.2);
	--ifm-out-of-focus: #505050;
	--box-stroke: gray;
}

[data-theme='light'] .docusaurus-highlight-code-line {
	background-color: rgb(232, 232, 232);
	display: block;
	margin: 0 calc(-1 * var(--ifm-pre-padding));
	padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
	background-color: rgb(72, 77, 91);
	display: block;
	margin: 0 calc(-1 * var(--ifm-pre-padding));
	padding: 0 var(--ifm-pre-padding);
}

code {
	background-color: transparent;
	border-width: 0;
	color: #0b84f3;
	font-family: 'GTPlanar';
	font-feature-settings: 'ss03' on;
	vertical-align: baseline;
	padding: 0;
}

.code-container code {
	font-family: inherit;
	font-size: 15px;
}

.markdown a {
	text-underline-position: under;
	text-decoration: underline;
}

.no-scroll-bar::-webkit-scrollbar {
	display: none;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.row-on-desktop {
	display: flex;
	flex-direction: row;
}

.big-title-on-desktop {
	font-size: 60px;
}

@media screen and (max-width: 996px) {
	.row-on-desktop {
		display: block;
	}

	.big-title-on-desktop {
		font-size: 36px;
	}

	.only-desktop {
		display: none;
	}
}

.pro-item a::after {
	content: 'Paid';
	font-size: 12px;
	opacity: 0.7;
	border: 1px solid;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-left: 6px;
	border-radius: 4px;
}

.header-github-link::before {
	content: '';
	width: 22px;
	height: 22px;
	display: flex;
	background-color: var(--ifm-navbar-link-color);
	mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
	transition: background-color var(--ifm-transition-fast)
		var(--ifm-transition-timing-default);
}
.header-github-link:hover::before {
	background-color: var(--ifm-navbar-link-hover-color);
}

.header-discord-link::before {
	content: '';
	width: 28px;
	height: 22px;
	display: flex;
	background-color: var(--ifm-navbar-link-color);
	mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 640 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M524.5 69.8a1.5 1.5 0 0 0 -.8-.7A485.1 485.1 0 0 0 404.1 32a1.8 1.8 0 0 0 -1.9 .9 337.5 337.5 0 0 0 -14.9 30.6 447.8 447.8 0 0 0 -134.4 0 309.5 309.5 0 0 0 -15.1-30.6 1.9 1.9 0 0 0 -1.9-.9A483.7 483.7 0 0 0 116.1 69.1a1.7 1.7 0 0 0 -.8 .7C39.1 183.7 18.2 294.7 28.4 404.4a2 2 0 0 0 .8 1.4A487.7 487.7 0 0 0 176 479.9a1.9 1.9 0 0 0 2.1-.7A348.2 348.2 0 0 0 208.1 430.4a1.9 1.9 0 0 0 -1-2.6 321.2 321.2 0 0 1 -45.9-21.9 1.9 1.9 0 0 1 -.2-3.1c3.1-2.3 6.2-4.7 9.1-7.1a1.8 1.8 0 0 1 1.9-.3c96.2 43.9 200.4 43.9 295.5 0a1.8 1.8 0 0 1 1.9 .2c2.9 2.4 6 4.9 9.1 7.2a1.9 1.9 0 0 1 -.2 3.1 301.4 301.4 0 0 1 -45.9 21.8 1.9 1.9 0 0 0 -1 2.6 391.1 391.1 0 0 0 30 48.8 1.9 1.9 0 0 0 2.1 .7A486 486 0 0 0 610.7 405.7a1.9 1.9 0 0 0 .8-1.4C623.7 277.6 590.9 167.5 524.5 69.8zM222.5 337.6c-29 0-52.8-26.6-52.8-59.2S193.1 219.1 222.5 219.1c29.7 0 53.3 26.8 52.8 59.2C275.3 311 251.9 337.6 222.5 337.6zm195.4 0c-29 0-52.8-26.6-52.8-59.2S388.4 219.1 417.9 219.1c29.7 0 53.3 26.8 52.8 59.2C470.7 311 447.5 337.6 417.9 337.6z'/%3E%3C/svg%3E");
	transition: background-color var(--ifm-transition-fast)
		var(--ifm-transition-timing-default);
}
.header-discord-link:hover::before {
	background-color: var(--ifm-navbar-link-hover-color);
}

.header-x-link::before {
	content: '';
	width: 22px;
	height: 22px;
	display: flex;
	background-color: var(--ifm-navbar-link-color);
	mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z'/%3E%3C/svg%3E");
	transition: background-color var(--ifm-transition-fast)
		var(--ifm-transition-timing-default);
}
.header-x-link:hover::before {
	background-color: var(--ifm-navbar-link-hover-color);
}
