/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4290f5;
  --ifm-color-primary-dark: #247ff3;
  --ifm-color-primary-darker: #1676f3;
  --ifm-color-primary-darkest: #0b60cf;
  --ifm-color-primary-light: #60a1f7;
  --ifm-color-primary-lighter: #6eaaf7;
  --ifm-color-primary-lightest: #9bc4fa;
  --ifm-code-font-size: 95%;
}

[data-theme="light"] .docusaurus-highlight-code-line {
  background-color: rgb(232, 232, 232);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
