:root {
  --base-size: 48px;
}

.audio-viz {
  display: flex;
  flex-direction: row;
  height: calc(var(--base-size) * 4);
  align-items: center;
  justify-content: center;
  gap: calc(var(--base-size) * 0.25);
  margin-top: var(--base-size);
}

.bar {
  border-radius: calc(var(--base-size) * 0.25);
  width: calc(var(--base-size) * 0.25);
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: white;
  padding: var(--base-size);
  background-color: black;
}

.row {
  display: flex;
  flex-direction: row;
}

.cover {
  border-radius: 6px;
}

.title {
  margin-left: var(--base-size);
  line-height: 1.25;
  font-weight: 800;
  color: rgba(55, 65, 81, 1);
  font-size: var(--base-size);
}

.captions {
  margin-top: calc(var(--base-size) * 0.5);
  font-size: calc(var(--base-size) * 1.5);
  font-weight: 600;
}

.promo-container {
  width: 100%;
  height: 100%;
  background-color: rgba(55, 65, 81, 1);
  font-family: var(--remotion-font);
}

.promo-composition {
  position: absolute;
  left: calc(var(--base-size) * 9);
  top: calc(var(--base-size) * -5);
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: calc(var(--base-size) * 0.75);
  overflow: hidden;
}

.free-template {
  width: calc(var(--base-size) * 16);
  left: calc(var(--base-size) * 0.75);
  font-size: calc(var(--base-size) * 1.5);
  line-height: calc(var(--base-size) * 2);
  font-weight: 800;
  filter: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.03))
    drop-shadow(0 8px 5px rgba(0, 0, 0, 0.08));
  left: calc(var(--base-size) * 0.75);
  top: calc(var(--base-size) * 0.25);
  position: absolute;
  color: rgba(107, 114, 128, 1);
}

.description {
  color: rgba(107, 114, 128, 1);
  line-height: 1;
  font-weight: normal;
  font-size: var(--base-size);
  filter: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.03))
    drop-shadow(0 8px 5px rgba(0, 0, 0, 0.08));
  width: calc(var(--base-size) * 13);
  left: calc(var(--base-size) * 0.75);
  top: calc(var(--base-size) * 2.5);
  position: absolute;
}

.tagline {
  font-weight: 800;
  font-size: calc(var(--base-size) * 2.25);
  line-height: calc(var(--base-size) * 2.5);
  color: rgba(251, 191, 36, 1);
  filter: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.03))
    drop-shadow(0 8px 5px rgba(0, 0, 0, 0.08));
  width: calc(var(--base-size) * 16);
  position: absolute;
  top: calc(var(--base-size) * 7);
  left: calc(var(--base-size) * 0.75);
}
