:root {
  --base-size: 48px;
}

.audio-viz {
  display: flex;
  flex-direction: row;
  height: calc(var(--base-size) * 4);
  align-items: center;
  justify-content: center;
  gap: calc(var(--base-size) * 0.25);
  margin-top: var(--base-size);
}

.bar {
  border-radius: calc(var(--base-size) * 0.25);
  width: calc(var(--base-size) * 0.43);
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: white;
  padding: var(--base-size);
  background-color: black;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cover {
  border-radius: 6px;
  max-height: 250px;
}

.title {
  margin-left: var(--base-size);
  line-height: 1.25;
  font-weight: 800;
  color: rgba(55, 65, 81, 1);
  font-size: var(--base-size);
}

.captions {
  margin-top: calc(var(--base-size) * 0.5);
  font-size: calc(var(--base-size) * 1.5);
  font-weight: 600;
}
