@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fff;
    --foreground: #000;
    --unfocused-border-color: #eaeaea;
    --focused-border-color: #666;

    --button-disabled-color: #fafafa;
    --disabled-text-color: #999;

    --geist-border-radius: 5px;
    --geist-quarter-pad: 6px;
    --geist-half-pad: 12px;
    --geist-pad: 24px;
    --geist-font: "Inter";

    --geist-error: #e00;

    --subtitle: #666;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #000000;
      --unfocused-border-color: #333;
      --focused-border-color: #888;
      --foreground: #fff;
      --button-disabled-color: #111;
      --geist-error: red;
      --subtitle: #8d8d8d;
    }
  }
}
