.panel {
  background-color: var(--ifm-background-color);
  box-shadow: var(--box-shadow);
  padding: 10px;
  border-radius: 15px;
  flex: 1;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
}
