.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tile {
  flex: 1;
}

.title {
  font-size: 2.5em;
  font-weight: 700;
  font-family: --apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.1;
}

.realgradient {
  color:  rgb(66, 144, 245);
}


@media screen and (max-width: 900px) {
  .row {
    flex-direction: column-reverse;
  }
  .realmp4container {
    justify-content: flex-start;
  }
  .icon {
    animation: none;
    margin-bottom: 30px;
  }
}

