.playerpreview {
  flex: 1;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s;
  background-color: var(--blue-underlay);
  border-radius: 15px;
  padding: 10px;
}

.playerpreview:hover {
  transform: scale(1.015);
}
