:root {
  --base-size: 48px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1080px;
  height: 1080px;
  color: white;
  background-color: black;
  padding: 4rem;
}

.text-overlay {
  background: rgba(0, 0, 0, 0.9);
  border-radius: 16px;
}

.visualizer-container {
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.gap-4 {
  gap: 4rem;
}
