.row {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-top: 40px;
}

.action {
	flex: 1;
	text-wrap: balance;
}

@media screen and (max-width: 900px) {
	.row {
		flex-direction: column;
		align-items: flex-start;
	}
	.action {
		margin-top: 20px;
	}
}
