.controls-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 0.5rem;
}

.volume-button {
	position: relative;
	cursor: pointer;
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	height: 100%;
}
