@source "./dist/esm/index.mjs";

@theme {
	--font-brand: 'GTPlanar', sans-serif;
	--color-brand: #0b84f3;
	--color-warn: #ff3232;
	--color-text: black;
	--color-button-bg: white;
	--color-card-bg: white;
}

@theme inline {
	--font-brand--font-feature-settings: 'ss03' 1;
}
