on:
  release:
    types: [published]
  workflow_dispatch:
name: Publish latest release

jobs:
  post:
    name: Post on Discord
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.1.9
      - name: Push changelog
        env:
          DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
        run: |
          cd packages/discord-poster
          bun post.ts
