html {
	--blue: #0b84f3;
	--blue-disabled: #284f73;
}

body {
	overscroll-behavior-y: none;
	overscroll-behavior-x: none;
	/* Override Chakra UI position: relative on body */
	position: static !important;
}

.remotion-splitter {
	background-color: black;
	transition: background-color 0.2s ease;
	user-select: none;
}

.remotion-splitter:hover,
.remotion-splitter-active {
	background-color: var(--blue);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input:focus,
button:focus,
a:focus {
	outline: none;
	box-shadow: inset 1px 1px #555, inset -1px -1px #555, inset 1px -1px #555,
		inset -1px 1px #555;
	border-radius: 0 !important;
}

input.no-focus-ring:focus,
button.no-focus-ring:focus,
a.no-focus-ring:focus {
	box-shadow: none;
	border-radius: 0;
}
